<p-dialog *ngIf="comparisonCorp == null" header="Development of {{selectedCorp?.corporation}}" [(visible)]="display" modal="modal" width="1024" height="655"
          positionTop="140" [contentStyle]="{'overflow':'visible'}" minHeight="655">
  <p-chart type="line" [data]="chartData" [options]="options"></p-chart>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <p-dropdown class="profile" [options]="profiles" [(ngModel)]="selectedProfile" (onChange)="onHistoryProfileChange()"
                  [style]="{'width':'230px', 'margin': '.5em .4em .5em .4em', 'text-align': 'left'}"></p-dropdown>
      <button type="button" pButton icon="fa-check" (click)="display=false" label="OK"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog *ngIf="comparisonCorp != null" header="Development of {{selectedCorp?.corporation}} vs {{comparisonCorp?.corporation}}" [(visible)]="display"
          modal="modal" width="1024" height="655" positionTop="140" [contentStyle]="{'overflow':'visible'}" minHeight="655">
  <div class="chart-container">
    <ng-container *ngIf="!singleChartMode">
      <div class="chart-headline">{{selectedCorp?.corporation}}</div>
      <p-chart type="line" [data]="chartData" [options]="options" [height]="'73px'"></p-chart>
      <div class="chart-headline">{{comparisonCorp?.corporation}}</div>
      <p-chart type="line" [data]="chartDataComparison" [options]="options" [height]="'73px'"></p-chart>
    </ng-container>

    <ng-container *ngIf="singleChartMode">
      <div class="chart-headline">
        <div id="chart-headline-left">{{selectedCorp?.corporation}}</div>
        <div id="chart-headline-right">{{comparisonCorp?.corporation}}</div>
      </div>
      <p-chart type="line" [data]="chartDataCombined" [options]="options" [height]="'152px'"></p-chart>
    </ng-container>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <p-dropdown class="profile" [options]="profiles" [(ngModel)]="selectedProfile" (onChange)="onHistoryProfileChange()"
                  [style]="{'width':'230px', 'margin': '.5em .4em .5em .4em', 'text-align': 'left'}"></p-dropdown>
      <p-checkbox class="checkbox-single-chart" label="single Chart" [(ngModel)]="singleChartMode" binary="true"></p-checkbox>
      <button type="button" pButton icon="fa-check" (click)="display=false" label="OK"></button>
    </div>
  </p-footer>
</p-dialog>

