<div class="header-wrapper">
  <div class="header">
    <h2>WormBoard</h2>v1.0
    <div class="year" (click)="onYearMenu($event)">
      {{selectedYear}}
      <div class="yearmenu" [@menuState]="menuState">
        <div class="yearmenuitem" *ngFor="let year of years" (click)="onSelectYear($event, [year])">{{year}}</div>
      </div>
    </div>
    <div id="all" class="period" (click)="onSelect('ALL')" [ngClass]="{'selected' : 'ALL' === selectedPeriod}">ALL</div>
    <div id="q1" class="period" (click)="onSelect('Q1')" [ngClass]="{'selected' : 'Q1' === selectedPeriod, 'inactive' : !isDataAvailable('Q1')}">Q1</div>
    <div id="q2" class="period" (click)="onSelect('Q2')" [ngClass]="{'selected' : 'Q2' === selectedPeriod, 'inactive' : !isDataAvailable('Q2')}">Q2</div>
    <div id="q3" class="period" (click)="onSelect('Q3')" [ngClass]="{'selected' : 'Q3' === selectedPeriod, 'inactive' : !isDataAvailable('Q3')}">Q3</div>
    <div id="q4" class="period" (click)="onSelect('Q4')" [ngClass]="{'selected' : 'Q4' === selectedPeriod, 'inactive' : !isDataAvailable('Q4')}">Q4</div>
    <div id="jan" class="period" (click)="onSelect('Jan')" [ngClass]="{'selected' : 'Jan' === selectedPeriod, 'inactive' : !isDataAvailable('Jan')}">Jan</div>
    <div id="feb" class="period" (click)="onSelect('Feb')" [ngClass]="{'selected' : 'Feb' === selectedPeriod, 'inactive' : !isDataAvailable('Feb')}">Feb</div>
    <div id="mar" class="period" (click)="onSelect('Mar')" [ngClass]="{'selected' : 'Mar' === selectedPeriod, 'inactive' : !isDataAvailable('Mar')}">Mar</div>
    <div id="apr" class="period" (click)="onSelect('Apr')" [ngClass]="{'selected' : 'Apr' === selectedPeriod, 'inactive' : !isDataAvailable('Apr')}">Apr</div>
    <div id="may" class="period" (click)="onSelect('May')" [ngClass]="{'selected' : 'May' === selectedPeriod, 'inactive' : !isDataAvailable('May')}">May</div>
    <div id="jun" class="period" (click)="onSelect('Jun')" [ngClass]="{'selected' : 'Jun' === selectedPeriod, 'inactive' : !isDataAvailable('Jun')}">Jun</div>
    <div id="jul" class="period" (click)="onSelect('Jul')" [ngClass]="{'selected' : 'Jul' === selectedPeriod, 'inactive' : !isDataAvailable('Jul')}">Jul</div>
    <div id="aug" class="period" (click)="onSelect('Aug')" [ngClass]="{'selected' : 'Aug' === selectedPeriod, 'inactive' : !isDataAvailable('Aug')}">Aug</div>
    <div id="sep" class="period" (click)="onSelect('Sep')" [ngClass]="{'selected' : 'Sep' === selectedPeriod, 'inactive' : !isDataAvailable('Sep')}">Sep</div>
    <div id="oct" class="period" (click)="onSelect('Oct')" [ngClass]="{'selected' : 'Oct' === selectedPeriod, 'inactive' : !isDataAvailable('Oct')}">Oct</div>
    <div id="nov" class="period" (click)="onSelect('Nov')" [ngClass]="{'selected' : 'Nov' === selectedPeriod, 'inactive' : !isDataAvailable('Nov')}">Nov</div>
    <div id="dec" class="period" (click)="onSelect('Dec')" [ngClass]="{'selected' : 'Dec' === selectedPeriod, 'inactive' : !isDataAvailable('Dec')}">Dec</div>
    <div id="last90" class="period" (click)="onSelect('Last90')" [ngClass]="{'selected' : 'Last90' === selectedPeriod}">Last 90 days</div>
    <div class="serverinfo">{{status}}</div>
  </div>
</div>

<p-dataTable #dataTable [value]="aggregates" [rows]="100" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50,100]" selectionMode="single"
             scrollable="true" scrollHeight="calc(100vh - 168px)" sortField="netisk" sortOrder="-1" [(selection)]="selectedCorp" [contextMenu]="contextMenu"
             [(first)]="first">

  <p-column header="rank" [style]="{'width':'3%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-ri="rowIndex" pTemplate="body">
      <span>{{ri + 1}}</span>
    </ng-template>
  </p-column>

  <p-column field="corporation" header="corporation" [sortable]="true" [style]="{'width':'16%', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" let-id="rowData.corporationid" pTemplate="body">
      <a target="_blank" href="https://zkillboard.com/corporation/{{id}}">{{aggregate[col.field]}}</a>
    </ng-template>
  </p-column>

  <p-column field="kills" header="kills" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}"></p-column>

  <p-column field="losses" header="loss'" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] == 0">{{aggregate[col.field]}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] > 0">{{aggregate[col.field]}}</span>
    </ng-template>
  </p-column>

  <p-column field="kdratio" header="k / d" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] != 'Infinity' && aggregate[col.field] >= 1.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] != 'Infinity' && aggregate[col.field] < 1.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
      <span *ngIf="aggregate[col.field] == 'Infinity'">&#x221E;</span>
    </ng-template>
  </p-column>

  <p-column field="kdefficiency" header="eff.%" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] >= 50.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] < 50.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
    </ng-template>
  </p-column>

  <p-column field="iskwon" header="ISK won" [sortable]="true" [style]="{'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span>{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="netisk" header="net ISK" [sortable]="true" [style]="{'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] >= 0">{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] < 0">{{aggregate[col.field] | number:'1.2-2'| isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="iskefficiency" header="ISK.%" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] >= 50.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] < 50.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
    </ng-template>
  </p-column>

  <p-column field="numactive" header="# act" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}"></p-column>

  <p-column field="avgperkill" header="&oslash; / kill" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span>{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="iskperactive" header="ISK / active" [sortable]="true" [style]="{'width':'8.5%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span>{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="netiskperactive" header="net ISK / active" [sortable]="true" [style]="{'width':'8.5%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] >= 0">{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] < 0">{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="iskperavgonkill" header="ISK / &oslash; on kill" [sortable]="true" [style]="{'width':'8.5%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span>{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="netiskperavgonkill" header="net ISK / &oslash; on kill" [sortable]="true" [style]="{'width':'8.5%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] >= 0">{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] < 0">{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="footer">
  <switch id="isk-switch" [(status)]="condenseIsk" onText="on" offText="off" size="mini" (statusChange)="onToggleISKPipe($event)"></switch>
  <span id="isk-switch-label">Condense ISK</span>
  <span id="about" (click)="about.display=true">About</span> / <span id="legal" (click)="legal.display=true">Legal</span>
</div>

<app-about-dialog #about></app-about-dialog>
<app-legal-dialog #legal></app-legal-dialog>

<app-timezone-dialog [selectedCorp]="selectedCorp" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod"></app-timezone-dialog>
<app-active-chars-dialog [selectedCorp]="selectedCorp" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod"></app-active-chars-dialog>
<app-history-dialog [selectedCorp]="selectedCorp" [selectedYear]="selectedYear" [selectedPeriod]="selectedPeriod"></app-history-dialog>

<p-dialog id="search" header="Search for corporation" [(visible)]="displaySearch" modal="modal" width="480" [contentStyle]="{'overflow':'visible'}">
  <p-autoComplete [(ngModel)]="corporation" [suggestions]="filteredCorporations" (completeMethod)="filterCorporations($event)"></p-autoComplete>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="doSearch()" label="OK"></button>
  </p-footer>
</p-dialog>

<p-contextMenu #contextMenu [model]="contextMenuItems"></p-contextMenu>
