<div class="header-wrapper">
  <div class="header">
    <h2>WormBoard</h2>v1.0
    <div class="year" (click)="onYearMenu($event)">
      {{selectedYear}}
      <div class="yearmenu" [@menuState]="menuState">
        <div class="yearmenuitem" *ngFor="let year of years" (click)="onSelectYear($event, [year])">{{year}}</div>
      </div>
    </div>
    <div id="all" class="period" (click)="onSelect('ALL')" [ngClass]="{'selected' : 'ALL' === selectedPeriod}">ALL</div>
    <div id="q1" class="period" (click)="onSelect('Q1')" [ngClass]="{'selected' : 'Q1' === selectedPeriod, 'inactive' : !isDataAvailable('Q1')}">Q1</div>
    <div id="q2" class="period" (click)="onSelect('Q2')" [ngClass]="{'selected' : 'Q2' === selectedPeriod, 'inactive' : !isDataAvailable('Q2')}">Q2</div>
    <div id="q3" class="period" (click)="onSelect('Q3')" [ngClass]="{'selected' : 'Q3' === selectedPeriod, 'inactive' : !isDataAvailable('Q3')}">Q3</div>
    <div id="q4" class="period" (click)="onSelect('Q4')" [ngClass]="{'selected' : 'Q4' === selectedPeriod, 'inactive' : !isDataAvailable('Q4')}">Q4</div>
    <div id="jan" class="period" (click)="onSelect('Jan')" [ngClass]="{'selected' : 'Jan' === selectedPeriod, 'inactive' : !isDataAvailable('Jan')}">Jan</div>
    <div id="feb" class="period" (click)="onSelect('Feb')" [ngClass]="{'selected' : 'Feb' === selectedPeriod, 'inactive' : !isDataAvailable('Feb')}">Feb</div>
    <div id="mar" class="period" (click)="onSelect('Mar')" [ngClass]="{'selected' : 'Mar' === selectedPeriod, 'inactive' : !isDataAvailable('Mar')}">Mar</div>
    <div id="apr" class="period" (click)="onSelect('Apr')" [ngClass]="{'selected' : 'Apr' === selectedPeriod, 'inactive' : !isDataAvailable('Apr')}">Apr</div>
    <div id="may" class="period" (click)="onSelect('May')" [ngClass]="{'selected' : 'May' === selectedPeriod, 'inactive' : !isDataAvailable('May')}">May</div>
    <div id="jun" class="period" (click)="onSelect('Jun')" [ngClass]="{'selected' : 'Jun' === selectedPeriod, 'inactive' : !isDataAvailable('Jun')}">Jun</div>
    <div id="jul" class="period" (click)="onSelect('Jul')" [ngClass]="{'selected' : 'Jul' === selectedPeriod, 'inactive' : !isDataAvailable('Jul')}">Jul</div>
    <div id="aug" class="period" (click)="onSelect('Aug')" [ngClass]="{'selected' : 'Aug' === selectedPeriod, 'inactive' : !isDataAvailable('Aug')}">Aug</div>
    <div id="sep" class="period" (click)="onSelect('Sep')" [ngClass]="{'selected' : 'Sep' === selectedPeriod, 'inactive' : !isDataAvailable('Sep')}">Sep</div>
    <div id="oct" class="period" (click)="onSelect('Oct')" [ngClass]="{'selected' : 'Oct' === selectedPeriod, 'inactive' : !isDataAvailable('Oct')}">Oct</div>
    <div id="nov" class="period" (click)="onSelect('Nov')" [ngClass]="{'selected' : 'Nov' === selectedPeriod, 'inactive' : !isDataAvailable('Nov')}">Nov</div>
    <div id="dec" class="period" (click)="onSelect('Dec')" [ngClass]="{'selected' : 'Dec' === selectedPeriod, 'inactive' : !isDataAvailable('Dec')}">Dec</div>
    <div id="last90" class="period" (click)="onSelect('Last90')" [ngClass]="{'selected' : 'Last90' === selectedPeriod}">Last 90 days</div>
    <div class="serverinfo">{{status}}</div>
  </div>
</div>

<p-dataTable [value]="aggregates" [rows]="100" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50,100]" selectionMode="single"
             scrollable="true" scrollHeight="calc(100vh - 168px)" sortField="netisk" sortOrder="-1" [(selection)]="selectedCorp" [contextMenu]="contextMenu">

  <p-column header="rank" [style]="{'width':'3%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-ri="rowIndex" pTemplate="body">
      <span>{{ri + 1}}</span>
    </ng-template>
  </p-column>

  <p-column field="corporation" header="corporation" [sortable]="true" [style]="{'width':'16%', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" let-id="rowData.corporationid" pTemplate="body">
      <a target="_blank" href="https://zkillboard.com/corporation/{{id}}">{{aggregate[col.field]}}</a>
    </ng-template>
  </p-column>

  <p-column field="kills" header="kills" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}"></p-column>

  <p-column field="losses" header="loss'" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}"></p-column>

  <p-column field="kdratio" header="k / d" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] != 'Infinity' && aggregate[col.field] >= 1.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] != 'Infinity' && aggregate[col.field] < 1.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
      <span *ngIf="aggregate[col.field] == 'Infinity'">&#x221E;</span>
    </ng-template>
  </p-column>

  <p-column field="kdefficiency" header="eff.%" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] >= 50.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] < 50.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
    </ng-template>
  </p-column>

  <p-column field="iskwon" header="ISK won" [sortable]="true" [style]="{'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span>{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="netisk" header="net ISK" [sortable]="true" [style]="{'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] >= 0">{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] < 0">{{aggregate[col.field] | number:'1.2-2'| isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="iskefficiency" header="ISK.%" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] >= 50.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] < 50.0">{{aggregate[col.field] | number:'1.2-2'}}</span>
    </ng-template>
  </p-column>

  <p-column field="numactive" header="# act" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}"></p-column>

  <p-column field="avgperkill" header="&oslash; / kill" [sortable]="true" [style]="{'width':'4%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span>{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="iskperactive" header="ISK / active" [sortable]="true" [style]="{'width':'8.5%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span>{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="netiskperactive" header="net ISK / active" [sortable]="true" [style]="{'width':'8.5%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] >= 0">{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] < 0">{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="iskperavgonkill" header="ISK / &oslash; on kill" [sortable]="true" [style]="{'width':'8.5%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span>{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>

  <p-column field="netiskperavgonkill" header="net ISK / &oslash; on kill" [sortable]="true" [style]="{'width':'8.5%', 'text-align':'right', 'white-space':'nowrap', 'overflow':'hidden'}">
    <ng-template let-col let-aggregate="rowData" pTemplate="body">
      <span *ngIf="aggregate[col.field] >= 0">{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
      <span class="negative-number" *ngIf="aggregate[col.field] < 0">{{aggregate[col.field] | number:'1.2-2' | isk:condenseIsk}}</span>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="footer">
  <switch id="isk-switch" [(status)]="condenseIsk" onText="on" offText="off" size="mini" (statusChange)="onToggleISKPipe($event)"></switch>
  <span id="isk-switch-label">Condense ISK</span>
  <span id="about" (click)="displayAbout=true">About</span> / <span id="legal" (click)="displayLegal=true">Legal</span>
</div>

<p-dialog header="About WormBoard" [(visible)]="displayAbout" modal="modal" width="700" responsive="true">
  <h3>Why</h3>
  <p>WormBoard is an Eve Online wormhole corp comparison list heavily inspired by the work of Noobman (CEO of Hard Knocks) and ExookiZ (CEO of Scary
    Wormhole People).
    <br><br>The main motivation is to make smaller wormhole groups more comparable to larger ones, thus completely ignoring alliances and shared killmails.</p>
  <br>
  <h3>How</h3>
  <p>It fetches all kills per day from zKillboard.com and filters for the ones happening in w-space, then adding them to daily aggregates based on the final hit
    corporation.<br><br>
    That way kills are only counted for the final hit corp and only the attackers of that corp are taken into account, this is intended.
    It does not remove infrastructure kills, because corporations that have specialized in that field need to be accommodated too,
    as well as lucky offline POS finds.</p>
  <br>
  <h3>Who</h3>
  <ul>
    <li>Ingame: fetox74</li>
    <li>IRL: <a href="mailto:odittrich@gmx.de">odittrich@gmx.de</a></li>
  </ul>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="displayAbout=false" label="OK"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Legal" [(visible)]="displayLegal" modal="modal" width="640" responsive="true">
  <h3>CCP</h3>
  <p>EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide.
    All other trademarks are the property of their respective owners. EVE Online, the EVE logo,
    EVE and all associated logos and designs are the intellectual property of CCP hf.
    All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating
    to these trademarks are likewise the intellectual property of CCP hf.
    CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this
    website.</p>
  <br>
  <h3>3rd Party</h3>
  <p>WormBoard makes heavy use of the zKillboard API, thanks to Squizz Caphinator for making it public!</p>
  <h4>Un-ordered list of Software used</h4>
  <ul>
    <li>Angular 2</li>
    <li>PrimeNG</li>
    <li>Spring Boot</li>
    <li>Google Guava</li>
    <li>PostgreSQL</li>
    <li>Apache Tomcat / HTTP Server</li>
    <li>Python</li>
  </ul>
  <br>
  <h3>License</h3>
  <p>WormBoard sources are licensed under the AGPLv3. Full license text is available in the GitHub repository.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="displayLegal=false" label="OK"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog id="timezone" header="Killtime distribution of {{selectedCorp?.corporation}}" [(visible)]="displayTimezone" modal="modal" width="1024" height="655"
          positionTop="140" [contentStyle]="{'overflow':'visible'}" minHeight="655">
  <p-chart type="bar" [data]="chartData"></p-chart>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="displayTimezone=false" label="OK"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog id="actchars" header="Active characters of {{selectedCorp?.corporation}}" [(visible)]="displayActiveCharacters" modal="modal" width="800" height="auto"
positionTop="40" [contentStyle]="{'overflow-y':'scroll'}" maxHeight="455">
  <div class="activechar" *ngFor="let activechar of activeCharData">
    <img [src]="'https://imageserver.eveonline.com/Character/' + activechar.characterid + '_64.jpg'">
    <div class="info">
      <div class="charinfo">
        <span><a target="_blank" href="https://zkillboard.com/character/{{activechar.characterid}}">{{activechar.character}}</a></span>
      </div>
      <div class="killinfo">
        <span class="grey">kills:</span>
        <span class="fixedwidth">{{activechar.kills}}</span>

        <span class="grey">losses:</span>
        <span class="fixedwidth">{{activechar.losses}}</span>

        <span class="grey">k / d ratio:</span>
        <span class="fixedwidth" *ngIf="activechar.kdratio != 'Infinity' && activechar.kdratio >= 1.0">{{activechar.kdratio | number:'1.2-2'}}</span>
        <span class="fixedwidth" class="negative-number" *ngIf="activechar.kdratio != 'Infinity' && activechar.kdratio < 1.0">{{activechar.kdratio | number:'1.2-2'}}</span>
        <span class="fixedwidth" *ngIf="activechar.kdratio == 'Infinity'">&#x221E;</span>

        <span class="grey">efficiency (%):</span>
        <span class="fixedwidth">{{activechar.kdefficiency | number:'1.2-2'}}</span>
      </div>
      <div class="iskinfo">
        <span class="grey">isk killed:</span>
        <span class="fixedwidth">{{activechar.iskwon | number:'1.2-2' | isk:true}}</span>

        <span class="grey">isk lost:</span>
        <span class="fixedwidth">{{activechar.isklost | number:'1.2-2' | isk:true}}</span>

        <span class="grey">net isk:</span>
        <span class="fixedwidth">{{activechar.netisk | number:'1.2-2' | isk:true}}</span>

        <span class="grey">isk efficiency:</span>
        <span class="fixedwidth">{{activechar.iskefficiency | number:'1.2-2'}}</span>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="displayActiveCharacters=false" label="OK"></button>
    </div>
  </p-footer>
</p-dialog>

<p-contextMenu #contextMenu [model]="contextMenuItems"></p-contextMenu>
