.header-wrapper {
  position: relative;
  z-index: 1;
}

.header {
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #59878c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
  padding: 10px;
  color: white;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.year {
  padding: 5px 10px;
  top: 10px;
  position: relative;
  background-color: #4f777b;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.yearmenu {
  position: absolute;
  margin-top: 5px;
  z-index: -1;
  background: #b3c4c5;
  padding: 5px 10px;
  margin-left: -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.yearmenuitem:hover {
  color: #7d9394;
}

.month {
  padding: 5px 0px;
  top: 10px;
  position: relative;
  background-color: #4f777b;
  display: inline-block;
  width: 38px;
  text-align: center;
}

.year:hover, .month:hover, #all:hover, #dec:hover {
  background-color: #70abb1;
  cursor: pointer;
}

.selected {
  background-color: #64999e;
}

.inactive {
  color: #64999e;
}

#all {
  margin-left: 20px;
  padding-left: 5px;
  border-top-left-radius: 10px;
}

#dec {
  border-top-right-radius: 10px;
  padding-right: 5px;
}

.serverinfo {
  font-size: smaller;
  margin-left: auto;
  margin-top: auto;
  display: inline-block;
  position: relative;
  top: 10px;
}

h2 {
  margin: 0px;
}

.table-wrapper {
  height: calc(100vh - 104px);

  ::ng-deep .ui-datatable-scrollable {
    display: flex;
    flex-direction: column;
  }

  ::ng-deep .ui-datatable-scrollable-wrapper {
    flex: 1 1 0;
  }

  ::ng-deep .ui-datatable-scrollable-view {
    height: calc(100vh - 138px);
    display: flex;
    flex-direction: column;
  }

  ::ng-deep .ui-datatable-scrollable-body {
    flex: 1 1 0;
  }
}

.footer {
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #59878c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0px;
  padding: 10px;
  color: white;
  text-align: end;
  width: 100%;
  box-sizing: border-box;

  #isk-switch {
    float: left;
  }

  #isk-switch-label {
    float: left;
    margin-left: 5px;
    margin-top: 1px;
  }
}

#about:hover, #legal:hover {
  color: #70abb1;
  cursor: pointer;
}

.negative-number {
  color: red;
}
