<div class="table-wrapper">
  <p-dataTable [value]="aggregates" resizableColumns="true" [rows]="100" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50,100]"
               scrollable="true" scrollHeight="855px">
    <p-header>WormBoard - Jan 2017</p-header>
    <p-column header="Rank">
      <template let-col let-ri="rowIndex" pTemplate="body">
        <span>{{ri + 1}}</span>
      </template>
    </p-column>
    <p-column field="date" header="Date" [sortable]="true"></p-column>
    <p-column field="corporation" header="Corporation" [sortable]="true"></p-column>
    <p-column field="kills" header="Kills" [sortable]="true"></p-column>
    <p-column field="isk" header="Isk" [sortable]="true">
      <template let-col let-aggregate="rowData" pTemplate="body">
        <!--<span>{{aggregate[col.field] | currency:'ISK':false:'1.2-2'}}</span>-->
        <span>{{aggregate[col.field] | number:'1.2-2'}}</span>
      </template>
    </p-column>
    <p-column field="active" header="Active" [sortable]="true"></p-column>
    <p-column field="numactive" header="NumActive" [sortable]="true"></p-column>
    <p-column field="netisk" header="NetIsk" [sortable]="true">
      <template let-col let-aggregate="rowData" pTemplate="body">
        <!--<span>{{aggregate[col.field] | currency:'ISK':false:'1.2-2'}}</span>-->
        <span>{{aggregate[col.field] | number:'1.2-2'}}</span>
      </template>
    </p-column>
    <p-column field="sumonkills" header="SumOnKills" [sortable]="true"></p-column>
  </p-dataTable>
</div>
